@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1d;
}

.flex-conteiner {
  min-width: 100vw;
  max-width: 1170px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*HEADER*/
.header-area {
  background: #f9f8e4;
  min-width: 100vw;
  text-align: center;
}
#header-title {
  font: bold 2.5em "Lexend Mega", sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: -7px;
  color: #1e1e1d;
}

/* NAVBAR */
.nav-area {
  display: block;
}
.nav-link {
  padding: 0.8em;
  font: bold 1em "Source Sans Pro", sans-serif;
  border: transparent;
  outline: transparent;
  background: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-link a {
  text-decoration: none;
  color: #1e1e1d;
}
.nav-link:hover {
  background: #f3efd4;
}
.nav-link a:hover {
  border-bottom: 1px solid #1e1e1d;
}

@media screen and (min-width: 768px) {
  .nav-area {
    display: inline-block;
    margin-left: 30px;
  }
  .nav-link {
    min-width: 10vw;
    min-height: 10vh;
  }
}

/*SECTION*/
.content-area {
  min-height: 40vh;
  margin: 1em auto;
}
.content-box {
  max-width: 35em;
  padding: 10px;
}

/*Páginas*/
#homePage {
  width: 32em;
  min-height: 25vh;
  margin-bottom: 20px;
}
.slide {
  margin: 10px;
  width: 500px;
  height: 280px;
  border-radius: 10px;
  animation: changeImage 13s infinite;
}

@keyframes changeImage {
  0% {
    background-image: url("./imagens/indice.jpg");
  }
  25% {
    background-image: url("./imagens/indice2.jpg");
  }
  50% {
    background-image: url("./imagens/indice3.jpg");
  }
  75% {
    background-image: url("./imagens/indice4.jpg");
  }
  100% {
    background-image: url("./imagens/indice5.jpg");
  }
}

/*Personagens*/
#personagensPage {
  width: 32em;
}
.blocoPersonagem {
  width: 30em;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .content-area {
    min-width: 100vw;
    background: url(./imagens/background.jpg) top right no-repeat;
  }
  .content-box {
    min-width: 90vw;
    padding: 30px 100px;
    margin: 1em auto;
  }
  #personagensPageOrg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
}

/*Galeria*/
#galeria_imagens {
  width: 32em;
  margin-bottom: 20px;
}
.img_galeria {
  margin: 10px;
  width: 300px;
  height: 170px;
}
.img_galeria:hover {
  width: 500px;
  height: 300px;
}
/*Exame Hunter*/
#examePage {
  width: 32em;
}

#plugHunter_btn {
  width: 80px;
  height: 30px;
  font-family: "Roboto", sans-serif;
}
/*Quiz*/
#quizPage {
  width: 32em;
}
#FormQuiz {
  width: 30em;
  margin: 20px;
  font: 1em/1.4em "Roboto", sans-serif;
  text-align: justify;
  color: #f9f8e4;
  border-radius: 5px;
}

#ResultadoFinal {
  width: 30em;
  margin: 20px;
}

div#ResultadoFinal {
  width: 350px;
  margin: auto;
  border-radius: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

img#ImagemResultado,
#ImagemQuiz {
  width: 300px;
  height: 300px;
  margin-left: 12.5px;
  border-radius: 5%;
  border: 10px solid #f3efd4;
}
#button_quiz {
  width: 80px;
  height: 30px;
  font-family: "Roboto", sans-serif;
}
#ImagemQuiz {
  animation: changeBorder 3s infinite;
}
#ImagemQuiz:hover {
  transform: rotateX(180deg) rotateY(180deg);
}
@keyframes changeBorder {
  0% {
    border: 60px solid #f3efd4;
  }
  25% {
    border: 30px solid #f3efd4;
  }
  50% {
    border: 60px solid #f3efd4;
  }
  75% {
    border: 30px solid #f3efd4;
  }
  100% {
    border: 60px solid #f3efd4;
  }
}

/*Textos*/
#content-title {
  margin: 10px;
  font: bold 2em "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  color: #f9f8e4;
}
#content-text {
  font: 1em/1.4em "Roboto", sans-serif;
  text-align: justify;
  color: #f9f8e4;
}
.img {
  margin: 0 40px;
  width: 450px;
  height: 250px;
  border-radius: 10px;
}
.imgPersonagem {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  #galeria_imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }
  .blocoExame,
  .blocoQuiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

/* FOOTER */
.footer-area {
  min-width: 100vw;
  margin-top: auto;
  padding: 0.5em 0;
  background: #f9f8e4;
  text-align: center;
}
#footer-title {
  font: bold 0.7em "Lexend Mega", sans-serif;
  color: #1e1e1d;
}
#footer-title a {
  text-decoration: none;
  color: #1e1e1d;
}
#footer-title a:hover {
  border-bottom: 1px solid #1e1e1d;
}
